img {
  animation: animate 10s linear infinite;
  -webkit-animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(114vw - 110%));
    -webkit-transform: translateX(calc(114vw - 110%));
    -moz-transform: translateX(calc(114vw - 110%));
    -ms-transform: translateX(calc(114vw - 110%));
    -o-transform: translateX(calc(114vw - 110%));
  }
}
