* {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
}

.img-fill {
  width: 0px;
  max-width: 750px;
  height: 150px;
  background-color: gold;
  transition: all 0.2s ease;
  mask-image: url("stars.png");
  -webkit-mask-image: url("stars.png");
  mask-repeat: no-repeat;
  mask-size: cover;
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
